body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71) );
}

.box{
    color: white;
    position: absolute;
    
    top: 310px;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.39);
    padding: 15px;
    border-radius: 15px;
    width: 350px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}
.inputbox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none; /* Funsão para tirar a borda do input na hora de preencher*/
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;

}
#enviar{
    background-image: linear-gradient(to right, rgb(40, 110, 241), rgb(113, 48, 199) );
    width: 100%;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 12px;
    cursor: pointer;
}
#enviar:hover{
    background-image: linear-gradient(to right, rgb(129, 48, 206), rgb(20, 147, 220) );
}

fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 2px solid dodgerblue;
    border-radius: 8px;
    background-color: dodgerblue;
    padding: 10px;
    text-align: center; 
}
.efeito{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .efeito, .inputUser:valid ~ .efeito{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}